.FeedbackList {
  display: block;
  width: 100%;
}

.FeedbackItem {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 15px 0;
  /* border: 1px solid black; */
  border-radius: 4px;
  background: rgba(238, 236, 236, 0.925);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
