/* .container {
  height: 90%;
  min-height: 90vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  border-color: #1d92e0;
  background-color: #f8f6de;
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);
} */

.container {
  padding: 15px;
  // padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;
  border-color: #1d92e0;
  background-color: #f8f6de;
  box-shadow: 0 0 10px 5px rgb(221, 221, 221);

  @media screen and (min-width: 480px) {
    width: 480px;
    background-color: #e6d51c;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-color: #39a339;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    background-color: white;
  }
}
